<!DOCTYPE html>
<html lang="en">

	{% include head.html %}	
	  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	{% include menu.html %}
	<body>
		{% if site.title and site.title != page.title %}
			<h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
		{% endif %}

		<div class="container">
			
			{{ content }}
		
		</div> <!-- /container -->
	
		{% include footer.html %}	
		{% include scripts.html %}
	
	</body>

</html>
